body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: indianred;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    text-align: justify;
    
}
.half-width img{
    width:80%;
}
.fb-id{
    text-decoration: none;
    background-image: linear-gradient(pink,tomato);
    color:rgba(137, 43, 226, 0.74);
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5%;
}
.first{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.other-half{
    width: 50%;
    padding-right: 10%;
    text-align: justify;
    
}
.other-half img{ 
    width: 80%;
    padding-left: 5%;
}
.second{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.box{
    width: 50%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow:10px 10px 40px gray;
    

}
.h-3{
    color: indigo;
}
.third{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(blue,gray);
    border-image-slice: 1;
}
#full{
    border-left: 7px solid;
    border-image: linear-gradient(rgba(255, 72, 0, 0.589),rgba(128, 128, 128, 0.979));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}